.form {
  position: relative;
  left: 50%;
  transform: translate(-50%, 50%);
  justify-content: center;
  align-items: center;
  background-color: rgb(135, 133, 133);
}
.form h5 {
  align-items: center;
  justify-content: center;
  color: white;
  padding: 5px;
}

.form input {
  width: 100%;
  padding: 3px;
}
.form input:focus {
  border: 1px solid gray;
}
.input-shield {
  padding: 3px;
}
