.info h5{
    font-size: 30px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    padding: 10px;
}
.info{
display: inline-flex;
justify-items: center;
align-items: center; 
justify-content: space-between;   
gap:50px ;
}
.image{
    width: 400px; ;
    height: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    background: #000; 
    background-image: url(images/Chatbot2.png);
}

